[project]
name = "iproute2mac"
version = "1.7.1"
readme = "README.md"
requires-python = ">=3.10"

[tool.black]
line-length = 79
target-version = ['py310']
include = '\.pyi?$'

[tool.isort]
profile = "black"
